{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "env":{
    "browser": true
  },
  "plugins": ["react"],
  "rules": {
    "no-use-before-define": [
      2,
      "nofunc"
    ],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  }
}